<nav
  class="navbar navbar-light bg-fire fixed-top mb-5 justify-content-between rouded shadow"
>
  <a class="navbar-brand text-white">Pokedex</a>
  <form class="form-inline mr-1 mr-md-5" [formGroup]="searchForm">
    <input
      formControlName="pokemonName"
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button
      class="btn btn-outline-light my-2"
      type="button"
      (click)="search(searchForm.value)"
    >
      Search
    </button>
  </form>
</nav>
<br />
<br />
<app-pokedex [pokemonName]="pokemonName"></app-pokedex>
